<mat-tab-group>
        <mat-tab label="Respostas Geral"> 
                <app-relatorios-aspec-tec></app-relatorios-aspec-tec>
                <app-relatorios-atend-rep></app-relatorios-atend-rep>
                <app-relatorios-img-prod></app-relatorios-img-prod>
                <app-relatorios-atend-com></app-relatorios-atend-com>
                <app-relatorios-emb-transp></app-relatorios-emb-transp>
                <app-relatorios-consid-finais></app-relatorios-consid-finais>
        </mat-tab>
        <mat-tab label="Second"> Content 2 </mat-tab>
        <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group>