
<mat-accordion>
  <mat-expansion-panel (opened)="loadRespAspecTec()">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Aspéctos Técnicos
      </mat-panel-title>
      <mat-panel-description>
        Gráficos de respostas referentes aos Aspéctos Técnicos
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-progress-bar mode="buffer" *ngIf="showProg"></mat-progress-bar>


    <google-chart [data]="graphProdCompra">   </google-chart>
    <google-chart [data]="graphAspecTec">     </google-chart>
    <google-chart [data]="graphFuncProdRolo"> </google-chart>
    <google-chart [data]="graphFuncProdBob">  </google-chart>
    <google-chart [data]="graphUnifCarTec">   </google-chart>
    <google-chart [data]="graphDesempProd">   </google-chart>
    <google-chart [data]="graphIdProdRolo">   </google-chart>
    <google-chart [data]="graphIdProdBob">    </google-chart>
    <google-chart [data]="graphIdGravProd">   </google-chart>
  </mat-expansion-panel>
  
</mat-accordion>




