<!-- <div>
  <ul *ngFor="let item of respostas | async">
    <li>{{item.id}}</li>
    <li *ngIf="item.respostaCorfio" > Corfio {{item.respostaCorfio}}</li>
    <li> Outros {{item.respostaOutros}}</li>
  </ul>
</div>
 -->

<div>
  <ul *ngFor="let item of respostasUser | async">
    <li> Pergunta: {{ item.pergunta }} </li>
    <li> Corfio {{item.respostaCorfio}}</li>
    <li> Outros {{item.respostaOutros}}</li>
  </ul>
</div>





<section fxLayout="row" fxLayout.xs="column" fxFlexFill >
  <div>
    <google-chart class="piechart" [data]="desempenhoProdCORFIO"></google-chart>
  </div>
  <div>
    <google-chart class="piechart" [data]="desempenhoProdOUTROS"></google-chart>
  </div>
</section>
<section fxLayout="row" fxLayout.xs="column" fxFlexFill >
  <div>
    <google-chart class="piechart" [data]="desempenhoProdCORFIO"></google-chart>
  </div>
  <div>
    <google-chart class="piechart" [data]="desempenhoProdOUTROS"></google-chart>
  </div>
</section>
<section fxLayout="row" fxLayout.xs="column" fxFlexFill >
  <div>
    <google-chart class="piechart" [data]="desempenhoProdCORFIO"></google-chart>
  </div>
  <div>
    <google-chart class="piechart" [data]="desempenhoProdOUTROS"></google-chart>
  </div>
</section>

 