<div class="graficoBarra">
<div >
    <p>Assistencia técnica</p>
  <div>
      <div style="display: block">
        <canvas baseChart
          [datasets]="barChartDataAsstec"
          [labels]="barChartLabels"
          [options]="barChartOptions"                
          [legend]="barChartLegend"
          [chartType]="barChartType">
        </canvas>
      </div>
  </div>
</div>

<div >
    <p>Aceitação dos produtos no mercado</p>
  <div>
      <div style="display: block">
        <canvas baseChart
          [datasets]="barChartAceitProd"
          [labels]="barChartLabels"
          [options]="barChartOptions"                
          [legend]="barChartLegend"
          [chartType]="barChartType">
        </canvas>
      </div>
  </div>
</div>
    
</div>

