.graficoBarra {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   
}

mat-card {
   margin-top: 10px;
   margin-left: 10px;
   margin-right: 10px;
   width: 320px;
}

.categoria-title {
   text-align: center
}


