<mat-nav-list>
  <span mat-list-item><mat-icon>assignment</mat-icon> Pesquisa CORFIO </span>
  <a *ngIf="!isAuth" mat-list-item routerLink="" (click)="onClose()">
    <mat-icon>face</mat-icon>Login </a>
  <a *ngIf="isAuth" mat-list-item routerLink="pesquisa" (click)="onClose()"><mat-icon>question_answer</mat-icon> Pesquisa </a>
  <mat-list-item>
    <button *ngIf="isAuth" mat-icon-button (click)="logOut()">
      <mat-icon>eject</mat-icon>
      <span class="nav-caption">Logout</span>
    </button>
  </mat-list-item>
</mat-nav-list>
