<!-- <li> {{ currentUser }} </li>
<ul *ngFor="let item of respostasUsers">
  <li> Pergunta: {{ item.id }}  </li>
  <li> Resposta Corfio: {{ item.respostaCorfio }} Resposta Outros: {{ item.respostaOutros }}  </li>
</ul> -->


<ul *ngFor="let data of respostasUsersGeral " >  
  
  <li> {{ data.id }} </li>
  <li> {{ data.from[0].id }} </li>
  <li> {{ data.from[10].id }} </li>
  <!-- <li> {{ data.from[0].respostas.respostaCorfio}} </li>
  <li> {{ data.from[0].respostas.respostaOutros}} </li>
  <li> {{ data.from[28].respostas.respostaOutros }} </li> -->
</ul>





