<section>
  <form [formGroup]="loginForm" class="flex-container" fxLayoutGap="10px" #form="ngForm" (ngSubmit)="onSubmit()" >
      <h3 class="welcome">Olá, Informe seu CNPJ para começar</h3>
      <h5 class="welcome" >Apenas numeros</h5>
    <mat-form-field appearance="outline">
      <mat-label>CNPJ</mat-label>
      <input autofocus id="userInput"  
       type="text" matInput formControlName="usuario" [matAutocomplete]="auto">       
          <mat-autocomplete #auto="matAutocomplete">
              <div *ngIf="touched">
                <h3 color="accent">Clique e confirme seu CNPJ</h3>
              <mat-option *ngFor="let option of options" [value]="option">
                 {{option}}
              </mat-option>
            </div>
          </mat-autocomplete>      
      <mat-error>CNPJ Inválido</mat-error>
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>
    <button [disabled]="loginForm.invalid" mat-raised-button type="submit" color="primary">Entrar</button>
  </form>
</section>