<div class="flex-container">
    <div class="formLogin">
        <mat-form-field appearance="outline">
            <mat-label>Usuário</mat-label>
            <input matInput >
            <mat-icon matSuffix>person</mat-icon>

        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Senha</mat-label>
          <input type="password" matInput >
          <mat-icon matSuffix>vpn_key</mat-icon>

        </mat-form-field>
        <button mat-raised-button color="primary" routerLink="pesquisa" >Entrar</button>
    </div>
</div>

