
<p>Aceitação dos produtos no mercado</p>
<ul *ngFor="let data of aceiteProd">
  <li  > Cliente: {{ data.id }} </li>
  <li> Resposta Corfio: {{ data.respostaCorfio }} </li>
  <li> Resposta Outros: {{ data.respostaOutros }} </li>
</ul>

<p>Assistência Técnica</p>
<ul *ngFor="let data of assTec">
  <li  > Cliente: {{ data.id }} </li>
  <li> Resposta Corfio: {{ data.respostaCorfio }} </li>
  <li> Resposta Outros: {{ data.respostaOutros }} </li>
</ul>

<p>Atendimento das transportadoras</p>
<ul *ngFor="let data of atendTransp">
  <li  > Cliente: {{ data.id }} </li>
  <li> Resposta Corfio: {{ data.respostaCorfio }} </li>
  <li> Resposta Outros: {{ data.respostaOutros }} </li>
</ul>

<p>Atendimento do setor comercial na fábrica</p>
<ul *ngFor="let data of atendComFab">
  <li  > Cliente: {{ data.id }} </li>
  <li> Resposta Corfio: {{ data.respostaCorfio }} </li>
  <li> Resposta Outros: {{ data.respostaOutros }} </li>
</ul>

<p>Conceito do produto junto ao usuário</p>
<ul *ngFor="let data of concProd">
  <li  > Cliente: {{ data.id }} </li>
  <li> Resposta Corfio: {{ data.respostaCorfio }} </li>
  <li> Resposta Outros: {{ data.respostaOutros }} </li>
</ul>

<p>Cordialidade (gentileza) apresentada pelo representante</p>
<ul *ngFor="let data of cordGentRep">
  <li  > Cliente: {{ data.id }} </li>
  <li> Resposta Corfio: {{ data.respostaCorfio }} </li>
  <li> Resposta Outros: {{ data.respostaOutros }} </li>
</ul>

<p>Desempenho do produto</p>
<ul *ngFor="let data of desempProd">
  <li  > Cliente: {{ data.id }} </li>
  <li> Resposta Corfio: {{ data.respostaCorfio }} </li>
  <li> Resposta Outros: {{ data.respostaOutros }} </li>
</ul>

<p>Eficiência em resolver problemas e atender solicitações</p>
<ul *ngFor="let data of eficProb">
  <li  > Cliente: {{ data.id }} </li>
  <li> Resposta Corfio: {{ data.respostaCorfio }} </li>
  <li> Resposta Outros: {{ data.respostaOutros }} </li>
</ul>

<p>Facilidade de localização do representante</p>
<ul *ngFor="let data of facLoc">
  <li  > Cliente: {{ data.id }} </li>
  <li> Resposta Corfio: {{ data.respostaCorfio }} </li>
  <li> Resposta Outros: {{ data.respostaOutros }} </li>
</ul>

<p>Freqüência de visitas do representante atende a necessidade ?</p>
<ul *ngFor="let data of freqVis">
  <li  > Cliente: {{ data.id }} </li>
  <li> Resposta Corfio: {{ data.respostaCorfio }} </li>
  <li> Resposta Outros: {{ data.respostaOutros }} </li>
</ul>

<p>Funcionalidade da embalagem dos produtos em bobinas</p>
<ul *ngFor="let data of funcProdBob">
  <li  > Cliente: {{ data.id }} </li>
  <li> Resposta Corfio: {{ data.respostaCorfio }} </li>
  <li> Resposta Outros: {{ data.respostaOutros }} </li>
</ul>

<p>Funcionalidade da embalagem dos produtos em rolos</p>
<ul *ngFor="let data of funcProdRolo">
  <li  > Cliente: {{ data.id }} </li>
  <li> Resposta Corfio: {{ data.respostaCorfio }} </li>
  <li> Resposta Outros: {{ data.respostaOutros }} </li>
</ul>

<p>Identificação (etiqueta) dos produtos em bobinas</p>
<ul *ngFor="let data of identProdBob">
  <li  > Cliente: {{ data.id }} </li>
  <li> Resposta Corfio: {{ data.respostaCorfio }} </li>
  <li> Resposta Outros: {{ data.respostaOutros }} </li>
</ul>

<p>Identificação (etiqueta) dos produtos em rolos</p>
<ul *ngFor="let data of identProdRol">
  <li  > Cliente: {{ data.id }} </li>
  <li> Resposta Corfio: {{ data.respostaCorfio }} </li>
  <li> Resposta Outros: {{ data.respostaOutros }} </li>
</ul>

<p> Identificação (gravação) nos produtos </p>
<ul *ngFor="let data of idGravProd">
  <li  > Cliente: {{ data.id }} </li>
  <li> Resposta Corfio: {{ data.respostaCorfio }} </li>
  <li> Resposta Outros: {{ data.respostaOutros }} </li>
</ul>

<p> Os produtos são conhecidos? </p>
<ul *ngFor="let data of prodCon">
  <li  > Cliente: {{ data.id }} </li>
  <li> Resposta Corfio: {{ data.respostaCorfio }} </li>
  <li> Resposta Outros: {{ data.respostaOutros }} </li>
</ul>

<p> Pontualidade na entrega </p>
<ul *ngFor="let data of pontEnt">
  <li  > Cliente: {{ data.id }} </li>
  <li> Resposta Corfio: {{ data.respostaCorfio }} </li>
  <li> Resposta Outros: {{ data.respostaOutros }} </li>
</ul>

<p> Pontualidade no prazo de embarque ofertado (desde a liberação do crédito até a saída da fábrica) </p>
<ul *ngFor="let data of pontEmb">
  <li  > Cliente: {{ data.id }} </li>
  <li> Resposta Corfio: {{ data.respostaCorfio }} </li>
  <li> Resposta Outros: {{ data.respostaOutros }} </li>
</ul>

<p> Preservação das embalagens dos produtos no recebimento (Carretéis, embalagens plásticas, sacarias e paletizações) </p>
<ul *ngFor="let data of presEmb">
  <li  > Cliente: {{ data.id }} </li>
  <li> Resposta Corfio: {{ data.respostaCorfio }} </li>
  <li> Resposta Outros: {{ data.respostaOutros }} </li>
</ul>

<p> Preservação física dos produtos </p>
<ul *ngFor="let data of presFisProd">
  <li  > Cliente: {{ data.id }} </li>
  <li> Resposta Corfio: {{ data.respostaCorfio }} </li>
  <li> Resposta Outros: {{ data.respostaOutros }} </li>
</ul>

<p> Quais produtos que sua empresa nos compra: </p>
<ul *ngFor="let data of prodEmpCom">
  <li  > Cliente: {{ data.id }} </li>
  <li> Resposta Corfio: {{ data.respostaCorfio }} </li>
  <li> Resposta Outros: {{ data.respostaOutros }} </li>
</ul>

<p> Qual o principal motivo (o mais importante) que o leva a comprar de outro fabricante? </p>
<ul *ngFor="let data of motCompra">
  <li  > Cliente: {{ data.id }} </li>
  <li> Resposta Corfio: {{ data.resposta }} </li>
  <li> Resposta Outros: {{ data.observacao }} </li>
</ul>

<p> Quantidade recebida X quantidade pedida </p>
<ul *ngFor="let data of qtdRecPed">
  <li  > Cliente: {{ data.id }} </li>
  <li> Resposta Corfio: {{ data.resposta }} </li>
  <li> Resposta Outros: {{ data.observacao }} </li>
</ul>

<p> Receptividade em situação de reclamações e sugestões </p>
<ul *ngFor="let data of recepRecl">
  <li  > Cliente: {{ data.id }} </li>
  <li> Resposta Corfio: {{ data.resposta }} </li>
  <li> Resposta Outros: {{ data.observacao }} </li>
</ul>

<p> Uniformidades das características técnicas </p>
<ul *ngFor="let data of unifCarc">
  <li  > Cliente: {{ data.id }} </li>
  <li> Resposta Corfio: {{ data.resposta }} </li>
  <li> Resposta Outros: {{ data.observacao }} </li>
</ul>

<p> Você está satisfeito com a nossa disposição em ajudar? </p>
<ul *ngFor="let data of satAjud">
  <li  > Cliente: {{ data.id }} </li>
  <li> Resposta Corfio: {{ data.resposta }} </li>
  <li> Resposta Outros: {{ data.observacao }} </li>
</ul>

<p> Você indicaria nossos produtos e(ou) serviços a outros profissionais? </p>
<ul *ngFor="let data of indProd">
  <li  > Cliente: {{ data.id }} </li>
  <li> Resposta Corfio: {{ data.resposta }} </li>
  <li> Resposta Outros: {{ data.observacao }} </li>
</ul>



