<div class="progressBar">
    <h3 class="bar" > {{ contaRespostas / 0.27 | number: '1.0-0'  }}% concluído  </h3>
    <mat-progress-bar class="bar" mode="determinate" value="{{contaRespostas / 0.27 }}"></mat-progress-bar>
</div>

<div class="answerEnd" *ngIf="fim === true">
    <h3>Suas respostas foram registradas com sucesso.<br> Obrigado por sua participação.</h3>
</div>

<div class="container" *ngIf="fim === false" >
  <div>
    <ul *ngFor="let item of clientes | async">
      <h3 *ngIf="item.cnpj === user">Seja bem vindo, você está respondendo a pesquisa em nome de {{ item.nome }} </h3>
    </ul>
  </div>

  
  
  <!-- <span> {{ vlrQuestao }} {{ contaRespostas }} {{ realCount | json }} </span> -->
  <span #controlScroll></span>


  <mat-vertical-stepper [linear]="isLinear" #stepper>
    <mat-step>
      <h5>Assinale a alternativa, de acordo com seu julgamento</h5>
      <form required [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Aspéctos técnicos</ng-template>
        <ul *ngFor="let item of perguntaAspecTec | async">
          <li>  {{ item.pergunta }}</li>
          <mat-form-field>
            <mat-select (click)="resetForms()" placeholder="CORFIO" formControlName="respostaCorfio" 
                        (selectionChange)="saveRespAspecTec(item.pergunta)">
              <mat-option value="ótimo">ótimo</mat-option>
              <mat-option value="bom">bom</mat-option>
              <mat-option value="regular">regular</mat-option>
              <mat-option value="ruim">ruim</mat-option>
              <mat-option *ngIf="perguntaEspAssTec === item.pergunta" value="não uso">não uso</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select  placeholder="OUTROS" formControlName="respostaOutros"
                         (selectionChange)="saveRespAspecTec(item.pergunta)">
              <mat-option value="ótimo">ótimo</mat-option>
              <mat-option value="bom">bom</mat-option>
              <mat-option value="regular">regular</mat-option>
              <mat-option value="ruim">ruim</mat-option>
              <mat-option *ngIf="perguntaEspAssTec === item.pergunta" value="não uso">não uso</mat-option>
            </mat-select>
          </mat-form-field>
          <div>
            <ul id="respostasView" *ngFor="let respostas of getRetornoResp  ">
              <div id="" *ngIf=" item.pergunta === respostas.id ">
                  <li><b>Respostas: &nbsp;</b></li>
                  <li>Corfio: <i>{{ respostas.respostaCorfio }} &nbsp;</i></li>
                  <li>Outros: <i>{{ respostas.respostaOutros }}</i></li>
              </div>
            </ul>
          </div>
          <span> &nbsp; </span>
          <mat-divider></mat-divider>
        </ul>
        <div>
          <button (click)="scroll(controlScroll)" mat-button matStepperNext>Próximo</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <h4>Assinale a alternativa, de acordo com seu julgamento</h4>
      <div>
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Atendimento do Representante</ng-template>
          <ul *ngFor="let item of perguntasRep | async">
            <li> {{ item.pergunta }}</li>
            <mat-form-field>
              <mat-select (click)="resetForms()" placeholder="CORFIO" formControlName="respostaCorfio"
                (selectionChange)="saveRespRep(item.pergunta)">
                <mat-option *ngIf="perguntaEspRep != item.pergunta" value="ótimo">ótimo</mat-option>
                <mat-option *ngIf="perguntaEspRep != item.pergunta" value="bom">bom</mat-option>
                <mat-option *ngIf="perguntaEspRep != item.pergunta" value="regular">regular</mat-option>
                <mat-option *ngIf="perguntaEspRep != item.pergunta" value="ruim">ruim</mat-option>
                <mat-option *ngIf="perguntaEspRep === item.pergunta" value="sim">sim</mat-option>
                <mat-option *ngIf="perguntaEspRep === item.pergunta" value="nao">não</mat-option>
                <mat-option *ngIf="perguntaEspRep === item.pergunta" value="não necessita">não necessita visita</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-select placeholder="OUTROS" formControlName="respostaOutros"
                (selectionChange)="saveRespRep(item.pergunta)">
                <mat-option *ngIf="perguntaEspRep != item.pergunta" value="ótimo">ótimo</mat-option>
                <mat-option *ngIf="perguntaEspRep != item.pergunta" value="bom">bom</mat-option>
                <mat-option *ngIf="perguntaEspRep != item.pergunta" value="regular">regular</mat-option>
                <mat-option *ngIf="perguntaEspRep != item.pergunta" value="ruim">ruim</mat-option>
                <mat-option *ngIf="perguntaEspRep === item.pergunta" value="sim">sim</mat-option>
                <mat-option *ngIf="perguntaEspRep === item.pergunta" value="nao">não</mat-option>
                <mat-option *ngIf="perguntaEspRep === item.pergunta" value="não necessita">não necessita visita</mat-option>
              </mat-select>
            </mat-form-field>
            <div>
                <ul id="respostasView" *ngFor="let respostas of getRetornoResp  ">
                  <div id="" *ngIf=" item.pergunta === respostas.id ">
                      <li><b>Respostas: &nbsp;</b></li>
                      <li>Corfio: <i>{{ respostas.respostaCorfio }} &nbsp;</i></li>
                      <li>Outros: <i>{{ respostas.respostaOutros }}</i></li>
                  </div>
                </ul>
            </div>
            <span> &nbsp; </span>
            <mat-divider></mat-divider>
          </ul>

          <div>
            <button mat-button matStepperPrevious>Voltar</button>
            <button (click)="scroll(controlScroll)" mat-button matStepperNext>Próximo</button>
          </div>
        </form>
      </div>
    </mat-step>

    <mat-step>
      <h4>Assinale a alternativa, de acordo com seu julgamento</h4>
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>Imagem dos Produtos</ng-template>
        <ul *ngFor="let item of perguntasImgProd | async">
          <li> {{ item.pergunta }}</li>
          <mat-form-field>
            <mat-select (click)="resetForms()" placeholder="CORFIO" formControlName="respostaCorfio"
              (selectionChange)="saveRespImgProd(item.pergunta)">
              <mat-option value="ótimo">ótimo</mat-option>
              <mat-option value="bom">bom</mat-option>
              <mat-option value="regular">regular</mat-option>
              <mat-option value="ruim">ruim</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="OUTROS" formControlName="respostaOutros"
              (selectionChange)="saveRespImgProd(item.pergunta)">
              <mat-option value="ótimo">ótimo</mat-option>
              <mat-option value="bom">bom</mat-option>
              <mat-option value="regular">regular</mat-option>
              <mat-option value="ruim">ruim</mat-option>
            </mat-select>
          </mat-form-field>
          <div>
              <ul id="respostasView" *ngFor="let respostas of getRetornoResp  ">
                <div id="" *ngIf=" item.pergunta === respostas.id ">
                    <li><b>Respostas: &nbsp;</b></li>
                    <li>Corfio: <i>{{ respostas.respostaCorfio }} &nbsp;</i></li>
                    <li>Outros: <i>{{ respostas.respostaOutros }}</i></li>
                </div>
              </ul>
          </div>
          <span> &nbsp; </span>
          <mat-divider></mat-divider>
        </ul>
        <div>
          <button mat-button matStepperPrevious>Voltar</button>
          <button (click)="scroll(controlScroll)" mat-button matStepperNext>Próximo</button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <h4>Assinale a alternativa, de acordo com seu julgamento</h4>
      <form [formGroup]="fourthFormGroup">
        <ng-template matStepLabel>Atendimento Comercial e Marketing</ng-template>
        <ul *ngFor="let item of perguntasComMark | async">
          <li> {{ item.pergunta }}</li>
          <mat-form-field>
            <mat-select (click)="resetForms()" placeholder="CORFIO" formControlName="respostaCorfio"
              (selectionChange)="saveRespComMark(item.pergunta)">
              <mat-option value="ótimo">ótimo</mat-option>
              <mat-option value="bom">bom</mat-option>
              <mat-option value="regular">regular</mat-option>
              <mat-option value="ruim">ruim</mat-option>
              <mat-option *ngIf="perguntaEspAtendComFab === item.pergunta" value="não utilizo">Não utilizo</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="OUTROS" formControlName="respostaOutros"
              (selectionChange)="saveRespComMark(item.pergunta)">
              <mat-option value="ótimo">ótimo</mat-option>
              <mat-option value="bom">bom</mat-option>
              <mat-option value="regular">regular</mat-option>
              <mat-option value="ruim">ruim</mat-option>
              <mat-option *ngIf="perguntaEspAtendComFab === item.pergunta" value="não utilizo">Não utilizo</mat-option>
            </mat-select>
          </mat-form-field>
          <div>
              <ul id="respostasView" *ngFor="let respostas of getRetornoResp  ">
                <div id="" *ngIf=" item.pergunta === respostas.id ">
                    <li><b>Respostas: &nbsp;</b></li>
                    <li>Corfio: <i>{{ respostas.respostaCorfio }} &nbsp;</i></li>
                    <li>Outros: <i>{{ respostas.respostaOutros }}</i></li>
                </div>
              </ul>
          </div>
          <span> &nbsp; </span>
          <mat-divider></mat-divider>
        </ul>
        <div>
          <button mat-button matStepperPrevious>Voltar</button>
          <button (click)="scroll(controlScroll)" mat-button matStepperNext>Próximo</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <h4>Assinale a alternativa, de acordo com seu julgamento</h4>
      <form [formGroup]="fifthFormGroup">
        <ng-template matStepLabel>Embalagem e Transporte</ng-template>
        <ul *ngFor="let item of perguntasEmbTran | async">
          <li> {{ item.pergunta }}</li>
          <mat-form-field>
            <mat-select (click)="resetForms()" placeholder="CORFIO" formControlName="respostaCorfio"
              (selectionChange)="saveRespEmbTran(item.pergunta)">
              <mat-option value="ótimo">ótimo</mat-option>
              <mat-option value="bom">bom</mat-option>
              <mat-option value="regular">regular</mat-option>
              <mat-option value="ruim">ruim</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="OUTROS" formControlName="respostaOutros"
              (selectionChange)="saveRespEmbTran(item.pergunta)">
              <mat-option value="ótimo">ótimo</mat-option>
              <mat-option value="bom">bom</mat-option>
              <mat-option value="regular">regular</mat-option>
              <mat-option value="ruim">ruim</mat-option>
            </mat-select>
          </mat-form-field>
          <div>
              <ul id="respostasView" *ngFor="let respostas of getRetornoResp  ">
                <div id="" *ngIf=" item.pergunta === respostas.id ">
                    <li><b>Respostas: &nbsp;</b></li>
                    <li>Corfio: <i>{{ respostas.respostaCorfio }} &nbsp;</i></li>
                    <li>Outros: <i>{{ respostas.respostaOutros }}</i></li>
                </div>
              </ul>
          </div>
          <span> &nbsp; </span>
          <mat-divider></mat-divider>
        </ul>
        <div>
          <button mat-button matStepperPrevious>Voltar</button>
          <button (click)="scroll(controlScroll)" mat-button matStepperNext>Próximo</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
        <h4>Complete sua pesquisa</h4>
        <form [formGroup]="sixthFormGroup">
          <ng-template matStepLabel>Considerações finais</ng-template>
          <div>
            <ul *ngFor="let item of perguntasFinais | async">
              {{ item.pergunta }}
            <mat-form-field>
              <mat-select placeholder="Sua resposta" formControlName="respostaMotivo"
                          (selectionChange)="saveRespFinais(item.pergunta)">
                <mat-option value="Atendimento do representante">Atendimento do representante</mat-option>
                <mat-option value="Qualidade técnica do produto">Qualidade técnica do produto</mat-option>
                <mat-option value="Aceitação do produto no mercado">Aceitação do produto no mercado</mat-option>
                <mat-option value="Prazo de entrega">Prazo de entrega</mat-option>
                <mat-option value="Preço">Preço</mat-option>
                <mat-option value="Atendimento da fábrica">Atendimento da fábrica</mat-option>
              </mat-select>
            </mat-form-field>
            <br>
            
            <br>
            <span #sugestao>Outras sugestões, observações e ou reclamações:</span>
            <br>
            <mat-form-field class="sugestoes">
                <textarea id="observacao" matInput formControlName="observacao" maxlength="256" 
                #message placeholder="Deixe aqui sua mensagem"></textarea>
                <button mat-button *ngIf="message" matSuffix mat-icon-button aria-label="Clear" (click)="limpaObs()">
                  <mat-icon>close</mat-icon>
                </button>
                <mat-hint align="end">{{message.value.length}} / 256</mat-hint>    
            </mat-form-field> 
            <br>
            <br>
            <button *ngIf="message.value.length != 0" 
                    type="button" 
                    mat-button 
                    (click)="saveRespFinais(item.pergunta)" 
                    color="primary">Salvar Mensagem
            </button>    
    
          </ul>
          </div>
          
          <span></span>
          <div>
            <button mat-button matStepperPrevious>Voltar</button>
            <button (click)="scroll(controlScroll)" mat-button matStepperNext>Próximo</button>
          </div>
        </form>
      </mat-step>
    <mat-step>
      <ng-template matStepLabel>Resumo das Respostas</ng-template>
      Confira o resumo de suas respostas e finalize a pesquisa
      <div>
        <div>
          <ul *ngFor="let item of getRetornoResp  ">
            <li> Pergunta: {{ item.id }} </li>
            <li> Resposta Corfio: {{ item.respostaCorfio }} </li>
            <li> Resposta Outros: {{ item.respostaOutros }} </li>
          </ul>
        </div>
        <p *ngIf="fim === true" >Sua pesquisa foi concluida com sucesso, obrigado!</p>
        <button mat-button matStepperPrevious>Voltar</button>
        <button mat-button (click)="theEnd() ; saveRespFinais('fim')">Finalizar</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</div>