
form ul {
    list-style: none;
    padding: 0;
}

.teste {
    z-index: 1;
    position: fixed;
    top: 100px;
    right: 0px;
    width: 230px;
    scroll-behavior: auto;
}

#respostasView li{
    display: inline-block;
    
    
}

#respostasView ul{
    padding: 0;
}