
<mat-vertical-stepper [linear]="isLinear" #stepper>
  <mat-step>
    <form [formGroup]="firstFormGroup" (ngSubmit)="save()">
      <ng-template matStepLabel>Primeiro Grupo </ng-template>
      <mat-form-field>
          <input matInput type="text" placeholder="usuario" formControlName="user">
      </mat-form-field>
      <mat-form-field>
          <input matInput type="text" placeholder="resposta" formControlName="resposta">
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Fill out your address</ng-template>
      
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-vertical-stepper>
  