a {
    text-decoration: none;
    color: white;
  }
  
  a:hover,
  a:active {
    color: lightgrey;
  }
  .navigation-items {
    list-style: none;
  }
  
  .logo img {
    width: 8rem;
  }
  
  @media only screen and (max-width: 600px) {
    .logo img {
      width: 7rem;
    }
  
  }