.welcome h3{
  margin-left: 15px;
}

/* .listaPerguntas li {
  list-style: none;
} */

.listaPerguntas{
  display: flex;
  width: 100%;  
}

@media only screen and (max-width: 600px) {
  .listaPerguntas{
    display: inline;
  } 
} 




ul{
  padding-inline-start: 0px;
}

.pergunta-field {
  padding-right: 10px;
}


.hideInput{
  display: none;
}
