.welcome h3{
  margin-left: 15px;
}

.listaPerguntas li {
  list-style: none;
  
}

ul {
  
  padding-inline-start: 0px;
}

.pergunta-field {
  padding-right: 10px;
}


.hideInput{
  display: none;
}
