<span class="welcome">
    <h3> Pesquisa de satisfação de clientes 2019</h3>
</span>

<p>
  Teste Select
</p>

<select name="" id="" onChange="onChangeAspecTec()">
  <option value="valor1">Valor 1</option>
  <option value="valor2">Valor 2</option>
  <option value="valor3">Valor 3</option>
</select>

<mat-divider></mat-divider>
  <mat-vertical-stepper [linear]="isLinear" #stepper labelPosition="top">
    <mat-step>
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Aspectos Técnicos</ng-template>
        <h5>Selecione uma alternativa, de acordo com o seu julgamento</h5>
        <mat-form-field class="pergunta-field">
          <input class="hideInput" matInput  formControlName="firstCtrl" >
          <form #formAspecTec="ngForm">
              <ul *ngFor="let aspTec of perguntaAspecTec | async">
                <h4>{{ aspTec.pergunta }}</h4>                
                <div class="listaPerguntas" >                    
                  <mat-form-field  >              
                    <mat-select (selectionChange)="onChangeAspecTec($event, name)" 
                                autofocus #selectCorfio="ngModel" 
                                placeholder="CORFIO" 
                                name="{{ aspTec.pergunta }} CORFIO {{ aspTec.id }}" 
                                ngModel required>
                      <mat-option value="otimo">otimo</mat-option>
                      <mat-option value="bom">bom</mat-option>
                      <mat-option value="regular">regular</mat-option>
                      <mat-option value="ruim">ruim</mat-option>
                    </mat-select>
                    <mat-error>Selecione uma opção</mat-error>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-select placeholder="Outros" name="{{ aspTec.pergunta }}  OUTROS" ngModel required>
                      <mat-option value="otimo">otimo</mat-option>
                      <mat-option value="bom">bom</mat-option>
                      <mat-option value="regular">regular</mat-option>
                      <mat-option value="ruim">ruim</mat-option>
                    </mat-select>
                    <mat-error>Selecione uma opção</mat-error>
                  </mat-form-field>
                </div>
              </ul>
               <button  [disabled]="formAspecTec.invalid" color="primary" matStepperNext mat-raised-button type="submit">Responder</button>
          </form>
        </mat-form-field>
        
      </form>
    </mat-step>
    <mat-step id="matstep2"  [stepControl]="formRep">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Atendimento do Representantes</ng-template>
        <h5>Selecione uma alternativa, de acordo com o seu julgamento</h5>
        <mat-form-field class="pergunta-field">
            <input class="hideInput" matInput  formControlName="secondCtrl">
            <form #formRep="ngForm" (ngSubmit)="onSubmitRep(formRep)" >
                <ul *ngFor="let rep of perguntasRep | async">
                  <h4>{{ rep.pergunta }}</h4>                
                  <div class="listaPerguntas" >                    
                    <mat-form-field>
                      <mat-select #selectCorfio="ngModel" placeholder="CORFIO" name="{{ rep.pergunta }} CORFIO" autofocus ngModel required>
                        <mat-option value="otimo">otimo</mat-option>
                        <mat-option value="bom">bom</mat-option>
                        <mat-option value="regular">regular</mat-option>
                        <mat-option value="ruim">ruim</mat-option>
                      </mat-select>
                      <mat-error>Selecione uma opção</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                      <mat-select placeholder="Outros" name=" {{ rep.pergunta }}  OUTROS " ngModel required>
                        <mat-option value="otimo">otimo</mat-option>
                        <mat-option value="bom">bom</mat-option>
                        <mat-option value="regular">regular</mat-option>
                        <mat-option value="ruim">ruim</mat-option>
                      </mat-select>
                      <mat-error>Selecione uma opção</mat-error>
                    </mat-form-field>
                      
                  </div>
                </ul>
                <button [disabled]="formRep.invalid" color="primary" mat-raised-button matStepperNext type="submit">Próximo</button>
              </form>
          </mat-form-field>
        <!-- <div>
          <button mat-button matStepperPrevious>Voltar</button>
          <button mat-button matStepperNext>Próximo</button>
        </div> -->
      </form>
    </mat-step>
    <mat-step  [stepControl]="formProd">
        <form  [formGroup]="thirdFormGroup">
          <ng-template matStepLabel>Imagem dos Produtos</ng-template>
          <h5>Selecione uma alternativa, de acordo com o seu julgamento</h5>
          <mat-form-field class="pergunta-field">
              <input class="hideInput" matInput  formControlName="thirdCtrl">
              <form #formProd="ngForm" (ngSubmit)="onSubmitProd(formProd)" >
                  <ul *ngFor="let prod of perguntasProd | async">
                    <h4>{{ prod.pergunta }}</h4>                
                    <div class="listaPerguntas" >                    
                      <mat-form-field>
                        <mat-select #selectCorfio="ngModel" placeholder="CORFIO" name=" {{ prod.pergunta }}  CORFIO " ngModel required>
                          <mat-option value="otimo">otimo</mat-option>
                          <mat-option value="bom">bom</mat-option>
                          <mat-option value="regular">regular</mat-option>
                          <mat-option value="ruim">ruim</mat-option>
                        </mat-select>
                        <mat-error>Selecione uma opção</mat-error>
                      </mat-form-field>
                      <mat-form-field>
                        <mat-select placeholder="Outros" name=" {{ prod.pergunta }}  OUTROS " ngModel required>
                          <mat-option value="otimo">otimo</mat-option>
                          <mat-option value="bom">bom</mat-option>
                          <mat-option value="regular">regular</mat-option>
                          <mat-option value="ruim">ruim</mat-option>
                        </mat-select>
                        <mat-error>Selecione uma opção</mat-error>
                      </mat-form-field>        
                    </div>
                  </ul>
                  <button [disabled]="formProd.invalid" color="primary" mat-raised-button matStepperNext type="submit">Próximo</button>
                </form>
            </mat-form-field>
          <!-- <div>
            <button mat-button matStepperPrevious>Voltar</button>
            <button mat-button matStepperNext>Próximo</button>
          </div> -->
        </form>
      </mat-step>

      <mat-step [stepControl]="formComMark">
          <form [formGroup]="fourthFormGroup">
            <ng-template matStepLabel>Atendimento Comercial e Marketing</ng-template>
            <h5>Selecione uma alternativa, de acordo com o seu julgamento</h5>
            <mat-form-field class="pergunta-field">
                <input class="hideInput" matInput  formControlName="fourthCtrl">
                <form #formComMark="ngForm" (ngSubmit)="onSubmitComMark(formComMark)" >
                    <ul *ngFor="let comMark of perguntasComMark | async">
                      <h4>{{ comMark.pergunta }}</h4>                
                      <div class="listaPerguntas" >                    
                        <mat-form-field>
                          <mat-select #selectCorfio="ngModel" placeholder="CORFIO" name=" {{ comMark.pergunta }}  CORFIO " ngModel required>
                            <mat-option value="otimo">otimo</mat-option>
                            <mat-option value="bom">bom</mat-option>
                            <mat-option value="regular">regular</mat-option>
                            <mat-option value="ruim">ruim</mat-option>
                          </mat-select>
                          <mat-error>Selecione uma opção</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                          <mat-select placeholder="Outros" name=" {{ comMark.pergunta }}  OUTROS " ngModel required>
                            <mat-option value="otimo">otimo</mat-option>
                            <mat-option value="bom">bom</mat-option>
                            <mat-option value="regular">regular</mat-option>
                            <mat-option value="ruim">ruim</mat-option>
                          </mat-select>
                          <mat-error>Selecione uma opção</mat-error>
                        </mat-form-field>
                          
                      </div>
                    </ul>
                    <button [disabled]="formComMark.invalid" color="primary" mat-raised-button matStepperNext type="submit">Próximo</button>
                  </form>
              </mat-form-field>
            <!-- <div>
              <button mat-button matStepperPrevious>Voltar</button>
              <button mat-button matStepperNext>Próximo</button>
            </div> -->
          </form>
      </mat-step>

      <mat-step [stepControl]="formEmbTran">
          <form [formGroup]="fifthFormGroup">
            <ng-template matStepLabel>Embalagem e transporte</ng-template>
            <h5>Selecione uma alternativa, de acordo com o seu julgamento</h5>
            <mat-form-field class="pergunta-field">
                <input class="hideInput" matInput  formControlName="fifthCtrl">
                <form #formEmbTran="ngForm" (ngSubmit)="onSubmitEmbTran(formEmbTran)" >
                    <ul *ngFor="let embTran of perguntasEmbTran | async">
                      <h4>{{ embTran.pergunta }}</h4>                
                      <div class="listaPerguntas" >                    
                        <mat-form-field>
                          <mat-select #selectCorfio="ngModel" placeholder="CORFIO" name=" {{ embTran.pergunta }}  CORFIO " ngModel required>
                            <mat-option value="otimo">otimo</mat-option>
                            <mat-option value="bom">bom</mat-option>
                            <mat-option value="regular">regular</mat-option>
                            <mat-option value="ruim">ruim</mat-option>
                          </mat-select>
                          <mat-error>Selecione uma opção</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                          <mat-select placeholder="Outros" name=" {{ embTran.pergunta }}  OUTROS " ngModel required>
                            <mat-option value="otimo">otimo</mat-option>
                            <mat-option value="bom">bom</mat-option>
                            <mat-option value="regular">regular</mat-option>
                            <mat-option value="ruim">ruim</mat-option>
                          </mat-select>
                          <mat-error>Selecione uma opção</mat-error>
                        </mat-form-field>
                          
                      </div>
                    </ul>
                    <button [disabled]="formEmbTran.invalid" color="primary" mat-raised-button matStepperNext type="submit">Próximo</button>
                  </form>
              </mat-form-field>
            <!-- <div>
              <button mat-button matStepperPrevious>Voltar</button>
              <button mat-button matStepperNext>Próximo</button>
            </div> -->
          </form>
      </mat-step>


    <mat-step>
      <ng-template matStepLabel>Finalizar</ng-template>
      Fim
      <div>
        <!-- <button mat-button matStepperPrevious>Voltar</button> -->
        
        <button mat-button (click)="stepper.reset()">Concluir Pesquisa</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
  

