.welcome h3{
  margin-left: 15px;
}

/* .listaPerguntas li {
  list-style: none;
} */

.listaPerguntas{
  display: flex;
  
  width: 100%;  
}

.mat-form-field-wrapper{
  margin: 10px;
}

ul {
  
  padding-inline-start: 0px;
}

.pergunta-field {
  padding-right: 10px;
}


.hideInput{
  display: none;
}
