<mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation"  >
      <mat-nav-list>
          <span mat-list-item><mat-icon>assignment</mat-icon> Pesquisa CORFIO </span>
          <a mat-list-item routerLink="" (click)="sidenav.close()"> <mat-icon>face</mat-icon> Login </a>
          <a mat-list-item routerLink="pesquisa" (click)="sidenav.close()"><mat-icon>question_answer</mat-icon> Pesquisa </a>
          <mat-list-item>
            <button mat-icon-button (click)="sidenav.close()">
              <mat-icon>eject</mat-icon>
              <span class="nav-caption">Logout</span>
            </button>
          </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar class="toolBar" color="primary">
          <div fxHide.sm fxHide.md fxHide.lg>
            <button mat-icon-button (click)="sidenav.toggle()"> <mat-icon>menu</mat-icon> </button>
          </div>
          <span class="logo"> <a href="#"> <img src="../../assets/logoCorfio2019.png" alt=""> </a></span>
          <span fxHide.xs> <mat-icon>assignment</mat-icon> Pesquisa de Satisfação</span>
          <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
            <ul fxLayout fxLayoutGap="10px" class="navigation-items" >
              <li></li>
              <li><a routerLink=""> <mat-icon>face</mat-icon> Login </a></li>
              <li><a routerLink="pesquisa"> <mat-icon>question_answer</mat-icon> Pesquisa </a></li>
            </ul>

          </div>
      </mat-toolbar>
    <main>
        <router-outlet></router-outlet>
    </main>
    </mat-sidenav-content>
</mat-sidenav-container>


<!-- <app-toolbar></app-toolbar> -->

