<mat-accordion>
  <mat-expansion-panel (opened)="loadCompGeral()">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Aspéctos Técnicos
      </mat-panel-title>
      
    </mat-expansion-panel-header>

    <mat-progress-bar mode="buffer" *ngIf="showProg"></mat-progress-bar>

    <google-chart [data]="graphProdCompra">   </google-chart>

    <ul *ngFor='let data of respostaObservable | async'>
      <li> {{ data.respostaCorfio }} </li>
    </ul>

  </mat-expansion-panel>
  
</mat-accordion>  