<mat-accordion>
  <mat-expansion-panel (opened)="loadRespAtendRep()">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Atendimento do Representante
      </mat-panel-title>
      
    </mat-expansion-panel-header>

    <mat-progress-bar mode="buffer" *ngIf="showProg"></mat-progress-bar>


    <google-chart [data]="graphCordGent"></google-chart>
    <google-chart [data]="graphEfic">    </google-chart>
    <google-chart [data]="graphRecept">  </google-chart>
    <google-chart [data]="graphFreq">    </google-chart>
    <google-chart [data]="graphLocali">  </google-chart>
  </mat-expansion-panel>
  
</mat-accordion>

