<mat-accordion>
  <mat-expansion-panel (opened)="loadCompGeral()">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Satisfação Clientes
      </mat-panel-title>
      
    </mat-expansion-panel-header>

    <mat-progress-bar mode="buffer" *ngIf="showProg"></mat-progress-bar>

    <google-chart [data]="graphAspTecUF">  </google-chart>
    <google-chart [data]="graphAtendRepUF"></google-chart>
    <google-chart [data]="graphImgProdUF"> </google-chart>
    <google-chart [data]="graphAtendComUF"></google-chart>
    <google-chart [data]="graphTranspUF">  </google-chart>
  </mat-expansion-panel>
  
</mat-accordion>  

