<!-- <mat-accordion>
  <mat-expansion-panel (opened)="loadCompGeral()">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Satisfação do cliente
      </mat-panel-title>
      
    </mat-expansion-panel-header>

    <mat-progress-bar mode="buffer" *ngIf="showProg"></mat-progress-bar>

    <google-chart [data]="graphCompGeral">   </google-chart>
    <google-chart [data]="graphDevXEntregue"></google-chart>
    <google-chart [data]="graphDevolv">      </google-chart>
    
  
</mat-accordion>   -->