<mat-accordion>
  <mat-expansion-panel (opened)="loadRespImgProd()">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Imagem dos Produtos
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-progress-bar mode="buffer" *ngIf="showProg"></mat-progress-bar>

    <google-chart [data]="graphAceitProd">  </google-chart>
    <google-chart [data]="graphConceitProd"></google-chart>
    <google-chart [data]="graphProdConhec"> </google-chart>

  </mat-expansion-panel>
  
</mat-accordion>
